@using uLocate.Core;
@using uLocate.Core.Models;
@using uLocate.Core.Extensions;
@{
    
    var addresses = new List<GeocodedAddress>()
        {
             new GeocodedAddress()
                {
                    Name = "Mindfly Web Design Studio",
                    Address1 = "114 W. Magnolia St.",            
                    Locality = "Bellingham",
                    Region = "WA",
                    PostalCode = "98225",            
                    CountryCode = "US"
                },
             new GeocodedAddress()
                {
                    Name = "Walt Disney World Resort",
                    Locality = "Lake Buena Vista",
                    Region = "FL",
                    PostalCode = "32830",                    
                },
            new GeocodedAddress()
                {
                    Name = "Rockefeller Center",
                    Address1 = "45 Rockefeller Plz",
                    Locality = "New York",
                    Region = "NY",
                    PostalCode = "10111"
                },
            new GeocodedAddress()
                {
                    Name = "Eiffel Tower",
                    Address1 = "Champs-de-Mars",
                    Locality = "Paris",
                    PostalCode = "75007",
                    CountryCode = "FR"
                },
             new GeocodedAddress()
                {
                    Name = "Buckingham Palace",
                    Address1 = "SW1A 1AA",
                    Locality = "London",
                    CountryCode = "UK"
                },
			 new GeocodedAddress()
				{
					Name = "Space Needle",
					Address1 = "400 Broad St",
					Locality = "Seattle",
					Region	 = "WA",
					PostalCode = "98102"
				},
             new GeocodedAddress()
                {
                    Name = "Sydney Opera House",
                    Address1 = "Bennelong Point",
                    Locality = "Sydney",
                    PostalCode = "NSW 2000",
                    CountryCode = "AU"                    
                }
                
        };

    addresses.LookupGeocodes();            
}


<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>


    <ul>
    @foreach (var addr in addresses.OrderBy(n => n.DistanceMiles(addresses[0])))
    {
     <li>@addr.Name => @string.Format("{0:n0}", addr.DistanceMiles(addresses[0])) miles / @string.Format("{0:n0}", addr.DistanceKilometers(addresses[0])) kilometers</li>   
    }
    </ul>
    </body>
</html>
